@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply px-4 w-full minsm:max-w-[672px] minmd:max-w-[800px] minlg:max-w-[1056px] minxl:max-w-[1180px];
    }
}

@layer base {
    html {
        font-family: 'Outfit', system-ui, sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        scroll-behavior: smooth;
        @apply text-primary;
    }

    body {
        @apply bg-background-color
    }
}

section {
    @apply w-full;
}

.row {
    @apply -mx-4 grid grid-cols-12 lg:mx-0;
}

.row--m0 {
    @apply mx-0;
}

.h2 {
    letter-spacing: -2.16px;
    @apply text-h2 font-medium;
}

.custom-width {
    width: calc(100% + 32px) !important;
}

.input.error {
    @apply border-red-500 text-red-600;
}

.input.error::placeholder {
    @apply border-red-500 text-red-600;
}

select.error {
    @apply border-red-500 text-red-600;
}

.input::placeholder {
    @apply text-dark-blue-50-2;
}

.modal-bg {
    background: #F9FAFF url("images/bg-modal.png") no-repeat;
    background-position-y: center;
    background-position-x: 45%;
    background-size: cover;
}

/* Button animation */
@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(150%);
        opacity: 0;
    }
    51% {
        transform: translateX(-150%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.group:hover .arrow {
    animation: moveArrow 0.8s ease-in-out forwards;
}
/*--------------*/

.background-blue-circle {
    background: #365AC1 url("images/bg-img.png");
    @apply block h-full w-full bg-cover bg-no-repeat;
}

.background-blue-circle-2 {
    background: #365AC1 url("images/bg-img-2.png");
    @apply block h-full w-full bg-cover bg-center bg-no-repeat;
}

.bg-r-full {
    @apply bg-right-top;
}

.bg-r-45 {
    background-position: 45% 0;
}

.otherFont {
    font-family: 'Poppins', system-ui, sans-serif;
}

.db {
    display: block !important;
}

.dn {
    display: none !important;
}

/*icons start*/
.arrow-right {
    background: url("images/icons/Arrow-r.svg");
    @apply block h-[17px] w-[17px] bg-100-auto bg-center bg-no-repeat;
}

.arrow-right-white {
    background: url("images/icons/Arrow-r-white.svg");
    @apply block h-[17px] w-[17px] bg-100-auto bg-center bg-no-repeat;
}

.phone-icon {
    background: url("images/icons/Phone.svg");
    @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.phone-white-icon {
    background: url("images/icons/Phone-white.svg");
    @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Overweight-icon {
    background: url("images/icons/Overweight.svg");
    @apply block h-[46px] w-[46px] bg-100-auto bg-center bg-no-repeat;
}

.Weight-Scale-icon {
    background: url("images/icons/Weight-Scale.svg");
    @apply block h-[42px] w-[42px] bg-100-auto bg-center bg-no-repeat;
}

.Car-icon {
    background: url("images/icons/Car.svg");
    @apply block h-[15px] w-[22px] bg-100-auto bg-center bg-no-repeat;
}

.present-icon {
    background: url("images/icons/present.svg");
    @apply block h-[18px] w-[18px] bg-100-auto bg-center bg-no-repeat;
}

.Plan-icon {
    background: url("images/icons/Plan.svg");
    @apply block h-[18px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Comment-icon {
    background: url("images/icons/Comment.svg");
    @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Main-logo {
    background: url("images/icons/Main-logo.svg");
    @apply block h-[61px] w-[40px] bg-100-auto bg-center bg-no-repeat;
}

.Main-logo-white {
    background: url("images/icons/Main-logo-white.svg");
    @apply block h-[61px] w-[40px] bg-100-auto bg-center bg-no-repeat;
}
/*icons end*/

.arrow-right-top-block::before {
    content: '';
    position: absolute;
    top: -75px;
    right: -100px;
    background: url("images/icons/arrow-1.svg");
    @apply block h-[53px] w-[211px] bg-100-auto bg-center bg-no-repeat;
}

.arrow-right-bottom-block::before {
    content: '';
    position: absolute;
    bottom: -60px;
    right: -80px;
    background: url("images/icons/arrow-2.svg");
    @apply block h-[40px] w-[169px] bg-100-auto bg-center bg-no-repeat;
}

.arrow-3 {
    background: url("images/icons/arrow-3.svg");
    @apply block h-[230px] w-[243px] bg-100-auto bg-center bg-no-repeat;
}

.arrow-1-mob::before {
    content: '';
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: url("images/icons/arrow-1-mob.svg");
    @apply block h-[35px] w-[134px] bg-100-auto bg-center bg-no-repeat minmd:hidden;
}

.swiper.mySwiper {
    @apply flex flex-col -mx-4 md:mx-0
}

.swiper.mySwiper .swiper-button-arrow {
    top: 0;
    margin-top: 0;
    @apply w-12 h-12 rounded-full overflow-hidden bg-light-blue-2
}

.swiper.mySwiper .swiper-button-arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper.mySwiper .swiper-button-prev {
    left: 0;
    right: auto;
}

.swiper.mySwiper .swiper-button-next {
    right: 0;
    left: auto;
}

.swiper.mySwiper .swiper-slide {
    height: auto;
}

.swiper.mySwiper .swiper-button-prev:after {
    background: url("images/icons/Arrow-l.svg");
    @apply block h-[17px] w-[17px] bg-100-auto bg-center bg-no-repeat;
}

.swiper.mySwiper .swiper-button-next:after {
    background: url("images/icons/Arrow-r.svg");
    @apply block h-[17px] w-[17px] bg-100-auto bg-center bg-no-repeat;
}

@media (max-width: 767.98px) {
    .custom-width {
        width: 100% !important;
    }

    .arrow-right-top-block::before {
        top: auto;
        bottom: -44px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        background: url("images/icons/arrow-1-mob.svg");
        @apply block h-[35px] w-[134px] bg-100-auto bg-center bg-no-repeat;
    }

    .arrow-right-bottom-block::before {
        bottom: -50px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        background: url("images/icons/arrow-2-mob.svg");
        @apply block h-[45px] w-[167px] bg-100-auto bg-center bg-no-repeat;
    }

    .h2 {
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -1.5px;;
    }
}
